

.card {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #F0FFF0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.text-danger {
    color: red;
}

/* Dark red button */
.btn-primary {
    background-color: #8b0000; /* Dark red */
    border-color: #8b0000;
}

/* Increase the size of hr */
hr {
    height: 15px;
    background-color: #008080; /* Dark red */
    border: none;
    margin: 25px 0;
}
body {
    background-color: #ced4da;
}